[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
moto = "*"
pytest = "*"
pytest-cov = "*"
aws-lambda-powertools = "*"
pyyaml = "*"
flake8 = "*"
black = "<=21.12b0"

[dev-packages]

[requires]
python_version = "3.8"
